@use '../../raaghu-react-themes/tokens/breakpoints' as bp;

.stack-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;

    canvas {
        height: 86vh;
        width: auto;
    }

    // Tablet view - full screen
    @include bp.between(md, lg) {
        
        canvas {
            height: 600px !important;
        }
    }
}
