$theme: "blue" !default;

$secondary: #2b0066;
$success: #2eef59;
$info: #3ef1e8;
$warning: #e3a300;
$danger: #ef2e2e;
$dark: #363636;
$light: #f8f9fa;
$body-bg: white;
$body-bg-dark: #232933;
$black: #000 !default;
$gray-500: #adb5bd !default;
$gray-200: #e9ecef !default;
$white: #fff !default;
$gray-400: #ced4da !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-300: #dee2e6 !default;
$gray-100: #f8f9fa !default;

// /*Variables*/ /*Success - Green*/
$success-0: #deffe4;
$success-100: #befeca;
$success-200: #9efcb0;
$success-300: #61f780;
$success-400: #2eef59;
$success-500: #07e33f;
$success-600: #00d33e;
$success-700: #00a443;
$success-800: #00863f;
$success-900: #006636;
// /*Danger - Red*/
$danger-0: #ffdede;
$danger-100: #febebe;
$danger-200: #fc9e9e;
$danger-300: #f76161;
$danger-400: #ef2e2e;
$danger-500: #e30707;
$danger-600: #d30000;
$danger-700: #a40000;
$danger-800: #860000;
$danger-900: #660000;
// /*Warning - Yellow*/
$warning-0: #ffd97a;
$warning-100: #fed265;
$warning-200: #fccb50;
$warning-300: #efad07;
$warning-400: #e3a300;
$warning-500: #d39800;
$warning-600: #bf8900;
$warning-700: #a47600;
$warning-800: #866000;
$warning-900: #664900;
// /*Action - Blue*/
$action-0: #def5ff;
$action-100: #bee9fe;
$action-200: #9edefc;
$action-300: #61c6f7;
$action-400: #2eaeef;
$action-500: #0796e3;
$action-600: #0085d3;
$action-700: #005fa4;
$action-800: #004986;
$action-900: #003566;
// /*Primary - Purple*/
$primary-0: #ecdeff;
$primary-100: #d8befe;
$primary-200: #c59efc;
$primary-300: #a061f7;
$primary-400: #7e2eef;
$primary-500: #6307e3;
$primary-600: #5800d3;
$primary-700: #4400a4;
$primary-800: #380086;
$primary-900: #2b0066;
// /*Secondary - Pink*/
$secondary-0: #ff7afd;
$secondary-100: #fe65fb;
$secondary-200: #fc50f9;
$secondary-300: #f728f3;
$secondary-400: #ef07eb;
$secondary-500: #e300e0;
$secondary-600: #d300d0;
$secondary-700: #bf00bb;
$secondary-800: #860084;
$secondary-900: #660064;
// /*Light Background*/
$light-0: #ffffff;
$light-100: #fafbfe;
$light-200: #f5f7fe;
$light-300: #eaeefc;
$light-400: #e0e5f8;
$light-500: #d6dcf3;
$light-600: #ccd3ec;
$light-700: #c2c8e3;
$light-800: #b7bcd8;
$light-800: #acb1cc;
// /*Dark Background*/
$dark-0: #3c3e47;
$dark-100: #32343b;
$dark-200: #292b30;
$dark-300: #222327;
$dark-400: #1c1d20;
$dark-500: #18191b;
$dark-600: #161618;
$dark-700: #151516;
$dark-800: #151515;
$dark-900: #141414;
$default-100: #f58220;

// /*Chart color variables*/
:root {
  --chartColor1: #01ae9d;
  --chartColor2: #ebeefb;
  --chartColor3: #edb371;
  --chartColor4: #ca2882;
  --chartColor5: #5151d3;
  --chartColor6: #928ae0;
  --chartColor7: #323b47;
  --chartColor8: #f58220;
  --chartColor9: #ea2745;
  --chartColor10: #00ffe6;
  --chartgradient1: rgba(63, 28, 255, 100%);
  --chartgradient2: #863bff94;
  --chartgradient3: rgba(56, 25, 226, 89%);
  --chartgradient4: rgba(48, 22, 194, 76%);
  --chartgradient5: rgba(25, 70, 186, 36%);
  --chartgradient6: rgba(25, 70, 186, 26%);
  --chartgradient7: rgba(25, 70, 186, 22%);
  --chartgradient8: rgba(25, 70, 186, 16%);
  --chartgradient9: rgba(25, 70, 186, 8%);
  --chartgradient10: rgba(25, 70, 186, 1%);
}

$accessible-200: #322d4a;
$accessible-300: #3a3d5a;
$accessible-400: #474c74;
$accessible-500: #4400a4;
$accessible-600: #282a42;
$accessible-700: rgba(48, 51, 78);
$accessible-800: #13002e;
$table-border-color: $accessible-200 !default;
$accordion-button-bg: $accessible-400 !default;
//$offcanvas-border-color: $accessible-300 !default;
$offcanvas-bottom-border-color: $accessible-300 !default;
//$nav-tabs-border-color: $accessible-300 !default;
$nav-tabs-bottom-border-color: $accessible-300 !default;

$dropdown-border-bottom: $accessible-500 !default;
$dropdown-bg-color: $accessible-400 !default;
$dropdown-border-bottom-hover: $accessible-200 !default;
$dropdown-bghover-color: $accessible-300 !default;
$dropdown-link-active-bg: $accessible-500 !default;

$form-select-bg: $accessible-300 !default;
$form-select-border-color: $accessible-400 !default;
$modal-bg-color: $accessible-600 !default;

$card-bg-color: $accessible-700 !default;

$nav-background-color: $accessible-600 !default;
// /*  $form-select-bg: $accessible-500 !default;*/
$card-dashboard-bg-color: $accessible-700 !default;
$body-wrapper-bg: $accessible-600 !default;

$sidbar-border-right-color: #1a0339;
$wrapper-bg: $accessible-600 !default;

$offcanvasbg: $accessible-700 !default;

$footer-bgcolor: $accessible-700 !default;

$nav-tab-bg-active: $accessible-600 !default;
$profileMenuBgColor: $nav-tab-bg-active !default;
$trhoverbg-color: $accessible-600;

$nav-a-color: $white !default;
$nav-active-color: $white !default;

$primary: rgba(120, 126, 255, 0);

// /*  $input-border-color: #515484;
//   $form-select-bg: #353755;*/
$datepicker-bg: $accessible-600 !default;
$datepicker-head: $accessible-600 !default;
$link-color: $primary;

#sidebar ul li a.active.child {
  background-color: none;
}

.form-control {
  background-color: $accessible-300;
  border: 1px solid $accessible-400;
}

html[theme="dark"] {
  $form-select-bg: $accessible-600 !default;
  $input-bg: $accessible-300 !default;
  $input-bg-border: $accessible-400 !default;

  $dropdown-color: $white;

  $notification-header-bg: $accessible-500 !default;
  $input-group-addon-bg: $input-bg;
  $input-group-addon-border-color: $accessible-400 !default;

  .form-control,
  .form-control:focus {
    background-color: $input-bg;
    border: 1px solid $accessible-400;
    color: $white;
  }

  .form-group.has-search {
    .form-control {
      background-color: $input-bg;
    }
  }

  .accordion-button {
    background: $accordion-button-bg;
    color: $white;
  }

  .input-group-text {
    background-color: $input-group-addon-bg;
    border-color: $input-group-addon-border-color;
  }

  .notification-header {
    background-color: $notification-header-bg;
  }
}

@import "./custom.scss";
@import "./node_modules/bootstrap/scss/bootstrap";
@import "./accordion.scss";
@import "./alert.scss";
@import "./avatar.scss";
@import "./badge.scss";
@import "./breadcrumb.scss";
@import "./button.scss";
@import "./card.scss";
@import "./carousel.scss";
@import "./checkbox.scss";
@import "./counter.scss";
@import "./dropdown.scss";
@import "./file-uploader.scss";
@import "./input.scss";
@import "./list-group.scss";
@import "./nav-tab.scss";
@import "./offcanvas.scss";
@import "./pagination.scss";
@import "./radio-button.scss";
@import "./scrollspy.scss";
@import "./search-input.scss";
@import "./side-nav.scss";
@import "./table.scss";
@import "./tags.scss";
@import "./textarea.scss";
@import "./colorvariables.scss";
@import "./cookieconsent.scss";
@import "./calender.scss";
@import "./tooltip.scss";
@import "./multilevel-menu.scss"
