.opp-chat-bg {
    background-color: $gray-200;
    border-radius: 12px;
    width: 32vw;
    color: $gray-900;
    font-size: 13px;
}

.time-text-color {
    color: #BEBEBE;
}

.my-chat-bg {
    background-color: $primary-170;
    border-radius: 12px;
    width: 32vw;
    color: $gray-900;
    font-size: 13px;
}

.typeMsg {
    background-color: $gray-200;
}

.chat-cust-height {
    height: 630px;
}

.contactCard {
    border-radius: 4px;
}

.activeContact {
    background-color: $gray-100 ;
    border-color: $primary !important;
  }

.chatArea{
    max-height: 100%;
    height: 50vh;
}
.contactCard:hover {
    border-color: $primary !important;
    background-color: $light-150 ;
}
.contactCard:hover .text-chat{
    color: $primary;
}
.inactiveContact {
    border-color: $gray-100 ;
}

.fs-custom {
    font-size: 10px;
}
.text-chat{
    color: $gray-900;
}

@media screen and (max-width:767px) {
    .chat-cust-height {
        height: 370px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:767px){
    .opp-chat-bg {
        width: 100%;
        max-width: 100%;
    }
    .my-chat-bg{
        width: 62vw;
    }
}