// .form-check {
//   font-size: $checkbox-font-size;
// }
.form-check-input {
  &:focus {
    box-shadow: none;
  }
}
.form-select {
  &:focus {
    box-shadow: none;
  }
}
.form-check-input-intermediate:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e") !important;
}

.form-check-input-error:checked {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}



.form-check-input-type-circular{
  border-radius: 50% !important;
}

.form-check-input-type-circular-indeterminate{
  border-radius: 50% !important;
  padding: 2px 2px 2px 2px;
  border:2px solid;  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #7e2eef;

  .form-check-input-intermediate:checked[type=checkbox] {
    background-image: none !important;
    width: 14px;
    height: 14px;
    margin-top: 0px;
  }

  .form-check-input-intermediate{
    margin-top: 0px;
  }
}

.form-check-input-type-square-indeterminate{
  padding: 2px 2px 2px 2px;
  border:2px solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #7e2eef;

  .form-check-input-intermediate:checked[type=checkbox] {
    background-image: none !important;
    width: 14px;
    height: 14px;  
    margin-top: 0px;
  } 

  .form-check-input-intermediate{
    margin-top: 0px;
  }
}

.form-check .form-check-input.form-check-input-intermediate{
  float: none;
  margin-left: 0px;
}