$border-color : #dee2e6 !default;

$primary : #7E2EEf;
.default-border{
    border: 1px solid $border-color;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin: 0 5px 0 5px;
    border-radius: 50%;
}
.selected-border{
    border: 2px solid $primary;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin: 0 5px 0 5px;
    border-radius: 50%;
}
.default-border-square{
    border: 1px solid $border-color;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin: 0 5px 0 5px;
   
}
.selected-border-square{
    border: 2px solid $primary;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin: 0 5px 0 5px;
   
}
.colorPick{
    border: 1px solid #fff !important;
    padding: 0rem !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 23% !important;
}