.testclass {
  color: red;
}

.react-datepicker__input-container input {
  // padding: 0.2em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.datepicker__input {
  border: 2px solid;
}

.datepicker__wrapper {
  width: 100% !important;
  display: flex;
}

.datepicker__icon-box {
  display: flex;
  // height: 30px;
}

.datepicker__icon-box .input-group-text {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}


.dropClass {
  display: none;
}

.input-group-datePicker {
  flex-wrap: nowrap !important;
}

.py-18 {
  padding-top: 0.16rem !important;
  padding-bottom: 0.16rem !important;
}
@media (max-width: 400px) {
  .react-datepicker__triangle {
    margin-left: 0px !important;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .react-datepicker__triangle {
    margin-left: -50px !important;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .react-datepicker__triangle {
    margin-left: -115px !important;
  }
}

@media (min-width: 1280px) {
  .react-datepicker__triangle {
    margin-left: -115px !important;
  }
}