// /* file uploader custom properties*/

.files {
  height: 5rem;
  border: 1px dashed;
  border-radius: 0.25rem;

  :focus {
    border: 3px solid;
  }

  :after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 70px;
    right: 0;
    height: 70px;
    content: "";
    background-image: url("https://image.flaticon.com/icons/svg/130/130993.svg");
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .file-input {
    top: 10px;
    position: absolute;
  }

  span.spn-svg {
    right: 30px;
    top: 29px;
  }

  .alert-col {
    background: transparent linear-gradient(90deg, #dcdadf 0%, #ff606048 100%) 0% 0% no-repeat padding-box;
  }
}

.error-msg {
  top: 4rem;
}

.alert-un {
  border: 1px solid;
}

.list-style li {
  list-style: none;
}

.small {
  font-size: 0.875rem;
  padding: 0;
}

.medium {
  font-size: 1rem;
  padding: 0px;
}

.large {
  font-size: 1.25rem;
  padding: 0;
}

rds-file-uploader .alert {
  z-index: 0;
  margin-bottom: 0;
}

.showError{
  color:#ef2e2e;
}
.multiUploader{
  border: 2px dashed ;
}
.fileName{
  border-radius: 4px;
}
.iconbox {
  cursor: pointer;
}


// basic fileuploder

.chosenFileSpan{
  display: flex;
  width: 100%;
}

.custom-file-button {
  display: flex !important;
  justify-content: center !important;
  width: 105px !important;
  cursor: pointer !important;
  line-height: 21px !important;
}
.chosenFileSpan {
  background-color: #FFFFFF;
  color: #6C757D;
  border: 1px solid #dee2e6;
}
.custom-file-button {
  background-color: #7825E9;
  color: #ffffff;
}

.custom-file-button {
  padding: 0.25rem 0.5rem !important;
  border-radius: 0.25rem 0rem 0rem 0.25rem !important;
  font-size: 0.75rem !important;
}
.chosenFileSpan {
  padding: 0.25rem 0.5rem;
  border-radius: 0rem 0.25rem 0.25rem 0rem;
}
.btn {
  text-transform: capitalize !important;
  min-width: 4.35rem;
  align-items: center !important;
}
@media (max-width: 480px) {
  .upload-btn {
    padding: 4px 8px; 
    font-size: 10px !important; 
  }

  .file-name {
    font-size: 13px !important; 
  }
}