.cta{
    background: transparent linear-gradient(102deg, $portalGradient1 0%, $portalGradient2 48%, $portalGradient3 100%) 0% 0% no-repeat padding-box;
}

.cta-banner {
    top: -6.2px;
     left: 19px;
}