.banner-gradient {
    background: transparent linear-gradient(96deg, #3CBDFF 0%, #964BFF 49%, #964BFF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2;
    font-size: 4rem;
}

.banner-secondary-gradient {
    background: transparent linear-gradient(96deg, #AC31E1 0%, #F336A9 49%, #FEA234 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2;
    font-size: 2rem;
}

.banner-gradient-outline {
    background: linear-gradient(100deg, #3CBDFF 0%, #964BFF 49%, #964BFF 100%) 0% 0% no-repeat padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #080e1f;
    color: $white;
    font-size: 4rem;
    line-height: 1.3;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 0.05em;
    letter-spacing: 1px;
}

.gradient-info {
    background: transparent linear-gradient(99deg, #69C6F6 0%, #9953FC 100%) 0% 0% no-repeat padding-box;
}

.commercial{
    color: #00cffc;
}

.customer-CTA {
    border-radius: 24px;
}

.homeLayoutMargin {
    margin: 0;
    background-color: $white;
}



.banner-text {
    position: relative;
    top: -100px;
    max-width: 920px;
    width: 1031px;
    right: 0px;
}

.technology-stack {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.technology-logo img {
    width: 85px;
    max-width: 100%;
    object-fit: contain;
}

.features-img {
    height: 28px;
    width: 24px;
}

.custom-border-end::after {
    content: "";
    border: 0.5px solid #9953FC;
    position: absolute;
    right: 0;
    height: 20px;
    top: 17px;
}

.text-blue-50 {
    color: $text-blue-50;
}

.border-gradient-primary {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 10px;
        padding: 2px;
        background: linear-gradient(117deg, #AC31E1 0%, #F336A9 48%, #FEA234 100%);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}


.modules-slider .carousel-indicators {
    bottom: -30px;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    width: 100%;
}

.modules-slider .carousel-indicators button.active {
    border-color: #00BB77 !important;
    background-color: #00BB77 !important;
}

.modules-slider .carousel-indicators [data-bs-target] {
    border-color: #737373;
    background-color: #737373 !important;
    opacity: 1;
    width: 10px;
    height: 10px;
}

.modules-slider .carousel-control-next-icon,
.modules-slider .carousel-control-prev-icon {
    width: 2.125rem;
    height: 2.125rem;
}

.gradient-border {
    background: transparent linear-gradient(91deg, #AC31E1 0%, #F336A9 48%, #FEA234 100%) 0% 0% no-repeat padding-box;
    height: 15px;
}


// testimonials slider

.testimonial-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}


.border-gradient-white {
    background-image: linear-gradient(117deg, #AC31E1 0%, #F336A9 48%, #FEA234 100%);
    position: relative;
    z-index: 1;
    border-radius: 12px;
    background-origin: padding-box;
}

.border-gradient-white::before {
    content: "";
    display: block;
    background-color: #fff;
    position: absolute;
    border-radius: 12px;
    height: 98%;
    width: 99%;
    z-index: -1;
    left: 2px;
    top: 1px;
}

.prev-button,
.next-button {
    background: #007bff;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.slider-container {
    display: flex;
    width: 100%;
}

.testimonial-cards {
    display: flex;
    transition: transform 0.5s;
}

.testimonial-card {
    background-color: #fff;
    border-radius: 12px;
    padding: 30px 20px;
    text-align: center;
    width: 330px;
    margin: 40px 40px 20px 40px;
    flex-shrink: 0;
    opacity: 1;
    transform: translateX(0%);
}

.testimonial-card:nth-child(2n) {
    background-color: #fff;
}

.testimonial-card.active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
}

.testimonial-text {
    font-size: 15px;
    margin: 0;
}

.testimonial-author {
    font-size: 14px;
    margin: 10px 0;
    color: #888;
}


.full-withradius {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 10px;
        padding: 2px;
        background: linear-gradient(122deg, #4D29CF 0%, #B32A90 100%);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}


.testimonials-container1 {
    max-width: 90%;
    margin: auto;
}

.testimonial-card1 {
    text-align: center;
    padding: 60px 30px 30px 30px;
    background-image: linear-gradient(122deg, #4D29CF 0%, #B32A90 100%);
    border-radius: 12px;
    margin: 30px 20px 20px 20px;
    background-origin: padding-box;
    position: relative;
    z-index: 1;
    max-height: 100%;
    height: 220px;
}

.testimonial-card1::before {
    content: "";
    display: block;
    background-color: white;
    position: absolute;
    border-radius: 12px;
    height: 98%;
    width: 99%;
    z-index: -1;
    left: 2px;
    top: 1.8px;
}

.slick-dots {
    bottom: -30px;
}

.slick-dots li button:before {
    font-size: 14px;
    color: #888;
}

.slick-dots li.slick-active button:before {
    color: #333;
}

.slick-slide {
    height: auto !important;
}

.quote-img-div {
    position: absolute;
    z-index: 2;
    left: 10.7rem;
    top: -1.4rem;
}

.quote-img-div img {
    height: 50px;
    width: 50px;
}

.slick-dots li button:before {
    font-size: 10px !important;
    top: 30px !important;
}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: #00BB77 !important;
}

.slick-dots li button:before {
    color: #737373 !important;
    opacity: 0.50 !important;
}


// media queries

@media screen and (min-width:1200px) {
    .banner-text {
        width: 100%;
        top: -30px;
    }

    .testimonial-card1 {
        padding: 50px 20px 30px 20px;
        height: 250px;
    }

    .banner-gradient,
    .banner-gradient-outline {
        font-size: 3.5rem;
    }

    .quote-img-div {
        left: 9rem;
    }
}

@media screen and (min-width:1400px) {
    .banner-text {
        width: 651px;
    }

    .banner-gradient,
    .banner-gradient-outline {
        font-size: 3.7rem;
    }

    .quote-img-div {
        left: 11rem;
    }
}

@media screen and (min-width: 1536px) {
    .banner-text {
        width: 831px;
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .banner-text {
        top: -40px;
        width: 100%;
        right: 0;
    }

    .banner-gradient,
    .banner-gradient-outline {
        font-size: 3rem;
    }

    .technology-logo img {
        width: 65px;
    }

    .testimonial-card1 {
        padding: 60px 20px 30px 20px;
        margin: 30px 10px 20px 10px;
        height: 310px;
    }

    .landing-banner .fs-5 {
        font-size: 14px;
    }

    .quote-img-div {
        left: 7.7rem;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .banner-text {
        top: -40px;
        width: 100%;
        right: 0px;
    }

    .technology-logo img {
        width: 40px;
    }

    .border-gradient-primary::before {
        width: 98%;
    }

    .testimonial-card1 {
        padding: 60px 15px 30px 15px;
        height: 270px;
    }

    .quote-img-div {
        left: 8.7rem;
    }

    .module-items .w-75 {
        width: 100% !important;
    }

    .modules-slider .arrows {
        display: none;
    }

    .landing-banner .fs-5 {
        font-size: 14px;
    }

    .banner-gradient,
    .banner-gradient-outline {
        font-size: 3rem;
    }

}


@media screen and (max-width: 767px) {
    .banner-gradient {
        font-size: 2.2rem;
    }

    .banner-gradient-outline {
        font-size: 2.2rem;
    }

    .h6-mobile {
        font-size: 14px !important;
    }

    .banner-text {
        top: -50px;
        width: 100%;
    }

    .technology-logo img {
        width: 60px;
    }

    .technology-logo {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        place-items: center;
    }

    // .card-gradient-border::before,
    .border-gradient-primary::before {
        width: 98%;
    }

    .module-items .w-75 {
        width: 100% !important;
    }

    .modules-slider .arrows {
        display: none;
    }
}

.landing-logo img {
    height: 42px;
}

.landing-navbar {
    height: 60px;

}

.navbar-custom-bg {
    background-color: $dark-400 !important;
}

html[theme=dark] {
    .get-started {
        color: $black;
    }
    .full-withradius{
        background-color: $white;
    }
}

.bg-blue {
    background-color: #080E1F;
}

.landing__para{
    color: $white;
}


// light dark css


// html[theme=light] {
//     .bg-blue{
//         background-color: $white;
//     }
//     .landing__para{
//         color: $black;
//     }
//     .abp-logo {
//         filter: brightness(0.1);
//     }
//     .banner-gradient-outline {
//         -webkit-text-fill-color: #fff;
//     }
// }

// html[theme=dark]{
//     .landing__para{
//         color: $white;
//     }

//     .bg-blue {
//         background-color: #080E1F;
//     }
// }