.menu-hover {
    background-color: #E9E9E9 !important;
}
  
.theme-dark .menu-selected {
    background-color: #a15dffa6 !important;
    color: #e9ecef !important;
}

.theme-dark .menu-hover {
    background-color: #7e2eef !important;
    color: #e9ecef;
}
  
.theme-dark {
    color: #e9ecef !important;
}