.nav-tabs.nav-icon-only{
  .nav-link {
    min-width: 50px;
  }
}
// /*tabs custom properties*/
.rds-tab-2.nav-tabs {
  .nav-link.active {
    border-bottom: 2px solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    min-height: 2.8rem;
  }
}

.nav-tabs {
  .nav-link {
    min-width: 108px;
    text-align: center;
    border: 0;
    position:relative;
  }

  .nav-link.active {
    border: 2px solid #f2f2f2;
    border-top: 1px solid;
  }
}

.nav-tabs .nav-link i {
  margin-right: 0.3125rem;
}

.nav-tabs.vertical-tab {
  border-bottom: 0px;

  .nav-item {
    padding-left: 0px;
    margin-bottom: 0.5rem;

    .nav-link {
      border: 0px;
      text-align: left;
      padding-left: 16px;
      font-weight: $font-weight-bold;

      i {
        margin-left: -24px;
        margin-right: 10px;
      }
    }
  }
}

.nav-tabs .nav-item {
  outline: none;
}

.vertical-pointer .close-icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  cursor: pointer;
}

.vertical-pointer .tab-text {
  margin-right: 50px; /* Create space for the close icon */
}



.vertical-flap .close-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  cursor: pointer;
}

.vertical-flap .plus-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
 
}