.toggle-switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
}

.small-toggle-switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 22px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;

}

.small-toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
  
}

.toggle-small-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 20px;
  right: -5px;
  bottom: 0;
  background-color: #e0e0e0;
  transition: 0.3s;
  border-radius: 50px;
}

.toggle-small-switch-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0.9px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
  margin-left: 3px;
}

.toggle-switch input:checked + .toggle-switch-slider {
  background-color: #222325;

}

.small-toggle-switch input:checked + .toggle-small-switch-slider {
  background-color: #222325;
  font-size :small
}
.small-toggle-switch input + .toggle-small-switch-slider {
  font-size :small
}

.toggle-switch input:focus + .toggle-switch-slider {
  box-shadow: 0 0 1px #2196f3;
}

.small-toggle-switch input:focus + .toggle-small-switch-slider {
  box-shadow: 0 0 1px #2196f3;
}

.toggle-switch input:checked + .toggle-switch-slider:before {
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(38px);
  transform: translateX(38px);
}

.small-toggle-switch input:checked + .toggle-small-switch-slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
  left: -9.5px
}

.toggle-switch input:checked + .toggle-switch-slider{
  .control-prev-icon{
    svg{
      color: #fff;
    }
  }
}

.small-toggle-switch input:checked + .toggle-small-switch-slider{
  .control-prev-icon{
    svg{
      color: #fff;
    }
  }
}

.theme-dark{
  .toggle-switch-slider{
    svg{
      color:#000;
    }
  }
}

.form-check-input-style3 {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  width: 2em;
  margin-left: -2.5em;
  background-image: var(--bs-form-switch-bg);
  background-position: left center;
  transition: background-position 0.15s ease-in-out;
}
