/* .navtabs-wrapper-div .nav-tabs .nav-link.active {
    border: 1px solid #f2f2f2;
    border-top: 3px solid black;
}
.nav-item{
    cursor:pointer;
}
.navtabs-wrapper-div .nav-link span{
    font-weight: 600;
}

.navtabs-wrapper-div .nav-tabs-our-custom{
    border-bottom: 0.5px solid #C7C7C7;
}

.navtabs-wrapper-div .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    border-top-color: black !important;
}
.nav-link.inactive{
   color:#495057;

}
.nav-link.inactive:hover{
    color:#495057

 } */

.nav-tabs .nav-link {
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .bs-md-0{
        border-left: 0px solid transparent !important;
    }
}

#features .nav-link.active {
    background-color: #7e2eef !important;
    color: white !important;
}

.nav-tabs.vertical-pointer {
    width: unset !important;
}

.nav-tabs.navtabs-icon-align{
    .nav-link {
        text-align: center !important;
    }
  }

#features.nav-tabs .nav-link {
    text-align: start !important;
}
