.border__color {
    border: 2px solid #7E2EEF !important;
    border-radius: 4px !important;
}

.border__gray {
    border: 1px solid #DEE2E6;
    border-radius: 4px !important;
}

@media (max-width: 414px){

#bank-card-details div.m-1.p-1{
    padding: 0px !important;
    width: 100%;
}

#bank-card-details div.border__color.p-4 {
    padding: 15px !important;
}

#bank-card-details div.form-check{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}


#bank-card-details div.border__gray.p-4 {
    padding: 15px !important;
}

}