.counter {
  text-align: center;
}
button {
  background-color: red;
}

.btn-light {
  border-color: #E6E7EB;
}

.theme-dark .form-control {
  background-color: #ffffff !important;
  color: #363636 !important;
}

.theme-dark .btn-dark svg {
  color: #fff !important;
}