.counter {
  text-align: center;
}
button {
  background-color: red;
}

.btn-light {
  border-color: #E6E7EB;
}

.theme-dark .form-control {
  background-color: #343a40  !important;
  color:  #ffffff!important;
}

.theme-dark .btn-light svg {
  color: #363636 !important;
}

.theme-dark svg {
  color: #fff;
}
/* Hide the spinner arrows for number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
}

.width_element {
  width: var(--dynamic-width-1, 100%); /* Fallback to 100% if --dynamic-width is not set */
  display: flex;  
  gap: 10px;
}

.width_element button {
  flex: 1; /* Ensures buttons fill the available space equally */
}

#counter-button-width .btn {
  min-width: 30px !important;
  min-height: 30px !important;
}
.theme-dark #counter-back-color{
  background-color: #363636 !important;
}
