.closed {
  display: none !important;
}
.showed {
  display: block !important;
  box-shadow: none !important ;
  border-radius: 4px !important ;
}
.toastbody {
  align-items: center;
  justify-content: space-between;
}
/* .theme-dark .btn-close {
  filter: unset;
} */

.text-dark {
  --bs-text-opacity: 1;
  color: rgb(96 96 96) !important;
}
.text-body {
  --bs-text-opacity: 1;
  color: rgb(96 96 96) !important;
}
.theme-dark .toast-basic  {
    background: black; 
    color: white;
} 
.theme-dark .toast-info {
  background: black; 
  color: white;
}
.theme-dark .toast-success {
  background: black; 
  color: white;
} 
.theme-dark .toast-error {
  background: black; 
  color: white;
} 

.toast {
  border-top :none !important;
  border-bottom :none !important;
  border-right :none !important;
}

.toast-header {
  border-bottom: none !important;
}
