.Card__body {
    padding: 20px !important;
}

/* recommended */
.bg-recommended {
    background-color: #F58220;
    top: -2px;

}

/* ribbon */
.ribbon {
    position: relative;
    z-index: 1;
}

.ribbon2 {
    width: 26px;
    position: absolute;
    top: 21px;
    right: 0;
    text-align: center;
    background: #F58220;
    border-radius: 0 0px 0 0;
}

.ribbon2:before,
.ribbon2:after {
    content: "";
    position: absolute;
}

.ribbon2:after {
    height: 0;
    width: 0;
    bottom: -5px;
    left: 0;
    border-left: 13px solid #F58220;
    border-right: 13px solid #F58220;
    border-bottom: 5px solid transparent;
}

/* Upgrade btn */
.upGrade__btn {
    border-radius: 20px;
}

.notRecommended {
    margin-bottom: 25px;
}

.Header___name {
    font: normal normal medium 14px/21px Poppins;
    padding: 16px;
}
.col {
   display:flex;
}
/* Small mobile view (up to 480px) */
@media (max-width: 480px) {
  /*  .d-flex {
        flex-direction: column;
        align-items: center;
    }*/

    .d-flex .justify-content-between {
        justify-content: center;
        text-align: center;
    }
    .col {
        
        flex-direction: column;
        align-items: center;
    }
}

/* Large mobile view (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    /*.d-flex {
        flex-direction: column;
        align-items: center;
    }*/
    .col {
        
        flex-direction: column;
        align-items: center;
    }
    .d-flex .justify-content-between {
        justify-content: space-between;
        width: 100%;
    }

    .d-flex h4 {
        text-align: left;
        flex: 1;
    }

    .d-flex  {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
}
