.rds-gradient-text-with-icon {
  display: flex;
  align-items: center;

  &__logo {
    height: var(--rds-spacing-xl);
    width: var(--rds-spacing-xl);
    margin-right: var(--rds-spacing-sm);
  }

  &__title {
    font-size: var(--rds-font-size-base);
    font-weight: var(--rds-font-weight-medium);
    background: linear-gradient(
      to right,
      var(--rds-ai-gradient-start),
      var(--rds-ai-gradient-mid),
      var(--rds-ai-gradient-end)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: calc(var(--rds-spacing-sm) + var(--rds-spacing-xs));
  }
}
