.border__color {
    border: 2px solid #7e2eef !important;
    border-radius: 4px !important;
}
.border__gray {
    border: 1px solid #dee2e6;
    border-radius: 4px !important;
}
.cardname {
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0px;
}
#flexRadioD {
    border-radius: 50% !important;
}
#flexRadioD:checked {
    border-radius: 50% !important;
}
