.btn-group.dropstart {
  position: relative;
}

.dropdown-menu.dropdown-adjusted.dropdown-right {
  position: absolute;
  left: 0 !important;
  top: 100% !important;
}

.kanban-board {
  font-family: poppins !important;

  .card {
    padding: 5px !important;
    min-height: 600px !important;
    border: 1px solid #D4BBFF;
  }

  .card-header {
    background-color: #ebdcff !important;
    min-height: 35px !important;
    height: 35px !important;
    display: flow !important;
  }

  .card-body {
    padding: 0px 12px !important
  }

  .pt-3 {
    padding-top: 8px !important;
  }

  .btn-sm svg {
    stroke-width: inherit !important;
    fill: none !important;
    display: flex;
    width: 16px !important;
    height: 16px !important;
  }

  .btn-group {
    margin-top: -4px !important;
  }

  ul {
    min-width: 125px !important;
    padding: 6px 0px;
    border-color: #ebdcff !important;

  }

  .sub-card {
    .card-header {
      background-color: transparent !important;
      min-height: 60px !important;
      height: 35px !important;
      display: flow !important;
    }

    .card {
      padding: 0px !important;
      background: var(--Background-bg-primary-lighter-default, #FEF7FF);
      border-radius: 0px !important;
      min-height: 133.6px !important;
    }

    .card-body {
      padding: 0px 15px !important;
    }

    .card-body-font {
      font-size: small !important;
    }
  }
}

.priority-btn {
  .custom-badge {
    border-color: #904cec !important;
    background-color: transparent !important;
    color: #904cec !important;
    border: 1px solid #904cec !important;
  }

  .small {
    font-size: 0.65rem !important;
  }
}

.f-12 {
  font-size: 12px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-16 {
  font-size: 16px !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 265px;
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
}

.truncate-text:hover {
  max-width: 130px;
}

.add-item-btn{
  margin: 6px -12px !important;

  .btn{
    width: 100% !important;
    border: 1px solid #904cec !important;
    color: #904cec !important;
    text-transform: none;
  }
  svg{
    stroke-width: inherit !important;
    fill: none !important;
    display: flex;
    width: 16px !important;
    height: 16px !important;
    stroke: #904cec !important;
  }
}

.btn-margin{
  margin: 6px 0px 6px 0px !important;
}
.add-board{
  width: 300px !important;
  height: 600px !important;
  background-color: #fff;
  border: 1px dashed #D4BBFF;
  border-radius: 0.5rem !important;
}

.add-board-btn{
  padding: 0px 6px !important;
}
.margin-top-5{
  margin-top: -5px !important;
}