.custom-select__multi-value {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    background-color: #e5d5fc !important;
    border-color: #d8c0fa !important;
    color: #6525bf !important;
    border-radius: 2px;
    margin: 2px;
    box-sizing: border-box;
}

.custom-select__multi-value__remove:hover {
    background-color: #d8c0fa !important;
    color: #6525bf !important;
}

#select-background-color .css-1miq03v-option {
    background-color: unset !important;
    border-color: #6525bf !important;
}

.css-1vu6crs-control,
.css-zhfn5b-control {
    box-shadow: none !important;
    border-color: #6525bf !important;
}

.css-1odcjzj-control{
    box-shadow: none !important;
}

.css-1odcjzj-control:hover{
    border-color: #6525bf !important;
}

.css-meqmo6-control{
    box-shadow: none !important;

}
.css-meqmo6-control:hover{
    border-color: #6525bf !important;
}

.css-lofsuq-control{
    box-shadow: none !important;
}

.css-lofsuq-control:hover{
    border-color: #6525bf !important;
}
.css-3o0vwh-control{
    border-color:  rgb(207, 204, 204, 0.5) !important;
}

.css-17pj0yt-control{
    box-shadow: none !important;
}
.css-17pj0yt-control:hover{
    border-color: #6525bf !important;

}
.css-ebdihx-option{
    background-color: rgba(224, 224, 224, 0.4) !important;
}
.css-2raz0e-option:active{
    background-color: #b38de9 !important;
}
.css-ebdihx-option:active{
    background-color: white !important;
}
.css-8jouw6-menu{
    z-index: 11 !important;
    margin-top: 3px !important;
}