.border-color {
    border: 2px solid #7e2eef;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
}

#rds-delivery {
    display: flex;
    flex-wrap: wrap;
}

.border {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #AAAAAA ;
    border-radius: 8px;
    opacity: 1;
}

.border:hover {
    border: 2px solid #7e2eef;
    border-radius: 8px;
}

/* .type {
    font: normal normal 700 18px/28px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
} */

.description {
    font: normal normal normal 14px/32px;
    letter-spacing: 0px;
    color: #6F6F6F;
}

.ulStl {
    all: unset;
    list-style-type: none;
}

.flex-even {
    flex: 1 1 108px;
    min-height: 98px;
    max-width: 108px;
}

.flex-evens {
    flex: 1 1 360px;
    max-width: 300px;
}

.display-none {
    display: none;
}

.display-done {
    display: block;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #7e2eef;
}

.theme-dark .border {
    background: #505050 0% 0% no-repeat padding-box;
    border: 2px solid #505050 !important;
}

.theme-dark .border-color {
    border: 2px solid #7e2eef;
    background: #505050 0% 0% no-repeat padding-box;
}