
/* .active-textarea {
    border: 1px solid #7825E9 !important;
  }
  .selected-textarea
  {
    border: 1px solid #34384f !important;
  }
  .error-textarea
  {
    border : 1px solid #BD0D1D !important;
  } */
.bottom-outline {
    border-bottom: 2px solid !important ;
  }
  .inputError {
    border-color: #E02D30 !important;
}