.stathover .titlehover:hover {
  transform: scale(1.5) !important;
  transition-timing-function: ease-in-out !important;
}


.app-shell-layout {
  height: 77vh;
  border-width: 5%;
}

.advancestat{
  height: 285px !important;
  border-width: 30px !important;
  width: 285px !important;
}
div.grow {
  transition: all 0.2s ease-in-out;
  transform: translate(0px, 0px);
}
div.grow:hover {
  transform: scale(1.5);
}
.border2 {
  border-radius: 50% !important;
}
.h-300px {
  height: 300px !important;
  border-width: 30px !important;
}

.w-300px {
  width: 300px !important;
}
