.rds-fab {
  display: block;
  position: relative;

  .MuiFab-root {
    background-color: var(--rds-surface-subtle) !important;
    color: var(--rds-text-primary) !important;

    .MuiFab-label,
    span,
    svg,
    .MuiSvgIcon-root {
      color: var(--rds-text-primary) !important;
      fill: currentColor !important;
    }

    &:hover {
      background-color: var(--rds-color-surface-variant-hover) !important;
    }

    &.Mui-disabled {
      background-color: var(--rds-surface-subtle) !important;

      .MuiFab-label,
      span,
      svg,
      .MuiSvgIcon-root {
        color: var(--rds-text-disabled) !important;
        fill: var(--rds-text-disabled) !important;
        opacity: 0.5 !important;
      }
    }

    &.MuiFab-primary {
      background-color: var(--rds-primary-main) !important;
      color: var(--rds-neutral-0) !important;
      
      .MuiFab-label,
      span,
      svg,
      .MuiSvgIcon-root {
        color: var(--rds-neutral-0) !important;
        fill: currentColor !important;
      }

      &:hover {
        background-color: var(--rds-primary-dark) !important;
      }
    }

    &.MuiFab-secondary {
      background-color: var(--rds-secondary-main) !important;
      color: var(--rds-neutral-0) !important;
      
      .MuiFab-label,
      span,
      svg,
      .MuiSvgIcon-root {
        color: var(--rds-neutral-0) !important;
        fill: currentColor !important;
      }

      &:hover {
        background-color: var(--rds-secondary-dark) !important;
      }
    }

    &.MuiFab-error {
      background-color: var(--rds-semantic-error-main) !important;
      color: var(--rds-neutral-0) !important;
      
      .MuiFab-label,
      span,
      svg,
      .MuiSvgIcon-root {
        color: var(--rds-neutral-0) !important;
        fill: currentColor !important;
      }

      &:hover {
        background-color: var(--rds-error-dark) !important;
      }
    }

    &.MuiFab-warning {
      background-color: var(--rds-warning-main) !important;
      color: var(--rds-neutral-0) !important;
      
      .MuiFab-label,
      span,
      svg,
      .MuiSvgIcon-root {
        color: var(--rds-neutral-0) !important;
        fill: currentColor !important;
      }

      &:hover {
        background-color: var(--rds-warning-dark) !important;
      }
    }

    &.MuiFab-success {
      background-color: var(--rds-semantic-success-main) !important;
      color: var(--rds-neutral-0) !important;
      
      .MuiFab-label,
      span,
      svg,
      .MuiSvgIcon-root {
        color: var(--rds-neutral-0) !important;
        fill: currentColor !important;
      }

      &:hover {
        background-color: var(--rds-success-dark) !important;
      }
    }

    &.MuiFab-info {
      background-color: var(--rds-info-main) !important;
      color: var(--rds-neutral-0) !important;
      
      .MuiFab-label,
      span,
      svg,
      .MuiSvgIcon-root {
        color: var(--rds-neutral-0) !important;
        fill: currentColor !important;
      }

      &:hover {
        background-color: var(--rds-info-dark) !important;
      }
    }
  }
}
