.tagcorners {
    border-radius: 4px;
}

.tags {
    padding: 1px 8px 1px 8px;
}

.scroll-type {
    height: 40px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}

::-webkit-scrollbar-track {
    border: 1px solid rgb(237, 237, 237);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #727766;
}

.cursorpointer {
    cursor: pointer;
}
