.dropup {
    position: absolute;
    inset: auto auto 0px 0px;
    margin: 0px;
    transform: translate(0px, -40.4px);
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 1em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.btn-sm {
  line-height: 0rem!important;
  position: relative;
}
.dropdown-toggle::after {
    float: right;
    margin: 0px 6px;
}

.dropup {
    position: absolute;
    inset: auto auto 0px 0px;
    margin: 0px;
    transform: translate(0px, -40.4px);
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.btn-sm {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-radius: 3px !important;
}

.dropdown-toggle::after {
    float: right;
    margin: 0px 6px;
}

/* Dropdown toggle button */
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/* Show state for dropdown toggle button */
.dropdown-toggle.show::after {
  transform: rotate(180deg);
}

.btn-default {
  background-color:#7825E9/* Default state styles */
}

.btn-hover:hover {
  background-color: #4F00A6; /* Example hover state */
  opacity: 0.8;
}

.btn-disabled {
  background-color: #D4BBFF;
  color: #a0a0a0;
  opacity: 0.65;
  pointer-events: none;
  cursor: not-allowed;
}

.btn-selected {
  background-color: #340071;
  color: #faf4f4;
}

.btn-rectangle {
  border-radius: 4px;
}

.btn-pill {
  border-radius: 50px;
}
.chevron-icon {
  margin-left: 8px !important
}

/* .dropdown {
  border: 2px solid;
  border-radius: 6px;
  border-color: #7825E9;
} */
.btn-primary {
  background-color: #7825E9!important;
  color: #fff!important;
  border: 1px solid #7825E9!important;
}

.btn-secondary {
  background-color: #FFFFFF!important;
  color: #7825E9!important;
  border: 1px solid #7825E9!important;
}

.btn-outline {
  background-color:transparent!important;
  color: #7825E9!important;
  border: 1px solid #7825E9!important;
}

.btn-transparent {
  background-color: transparent!important;
  color: #7825E9!important;
  border: none!important;
}

.rectangle {
  border: 2px solid #7825E9 !important;
  border-radius: 6px;
}
.pill{
  border:2px solid #7825E9;
  border-radius: 25px;
}