p{
  
    font-family: 'poppins, sans-serif' !important;
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-align: center;

}
h2{

    font-family: 'poppins, sans-serif' !important;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;

}