.chat-container {
    border: 1px solid #646464;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.chat-screen {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #E9E9E9;
}

.chat-screen-main .selected {
    color: black;
    background-color: #EBDCFF;
}

.chat-screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid #E9E9E9;
    padding: 12px 18px;
}

.chat-window {
    width: 100%;
}

.chat-window-header {
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    border-bottom: 1px solid #E9E9E9;
}

.chat-window-header-options {
    display: flex;
    align-items: center;
    margin-right: 12px;
    flex-wrap: wrap; /* Ensure options wrap within the container */
}

.chat-window-main {
    height: 484px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
}

.chat-window-footer {
    display: flex;
    align-items: center;
}

.emoji-popup {
    position: absolute;
    z-index: 1000;
    visibility: hidden;
}

.input-chat-send {
    width: 100%;
}

.current-user {
    justify-content: flex-start;
}

.current-user .comment-content {
    background-color: #D6D6D6;
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    padding: 8px 12px;
    font-size: 14px;
    color: #202020;
    margin: 0px 10px 10px 0px;
}

.other-user {
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.other-user .comment-content {
    background-color: #7825E9;
    color: #FEF7FF;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    padding: 8px 12px;
    font-size: 14px;
    order: 1;
    display: flex;
    justify-content: end;
    margin: 0px 0px 10px 10px;
}

.comment-image {
    max-width: 350px;
    max-height: 220px;
    width: auto;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
    object-fit: cover;
}

.camera-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.video-feed {
    width: 80%;
    max-width: 600px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.camera-modal button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.camera-modal button:hover {
    background-color: #0056b3;
}

.video-feed {
    width: 80%;
    max-width: 600px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.comment-video {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-top: 10px;
}

.chat-container .dropdown-menu.show {
    transform: translate3d(0px, -180px, 0px)
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
    .chat-container {
        flex-direction: row;
    }

    .chat-screen {
        width: 28%;
        border-right: 1px solid #E9E9E9;
        border-bottom: none;
    }

    .chat-window {
        width: 72%;
    }

    .chat-window.full-width {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .chat-window-header-options {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}

@media (max-width: 600px) {
    #fab-list .dropdown-menu.show {
        width: auto !important;
        height: auto !important;
    }
}

.current-user .comment-content {
    background-color: #B30FBC !important;
}

.EmojiPickerReact {
    height: 450px!important;
    width: 260px !important;
    right: 5rem !important;
    top: 20rem !important;
}
.btn-icon {
    min-width: 10px !important;
}