.customWidthClass {
    --bs-dropdown-min-width: 4.4rem !important;
}
/*
.custom-navigation .customWidthForBtn {
    min-width: 4.4rem !important;
    border-color: #7e2eef !important;
}

.customWidthClass li:hover {
    background-color: #7e2eef !important;
    color: #ffffff;
}


.customWidthClass .pagination-item {
    padding: 2px 0 2px 10px !important
}

.customWidthClass {
    border-color: #7e2eef !important;
}
*/

/* Add consistent styling for all pagination items */
.page-item {
    display: inline-block !important;
    margin: 0 0.5rem !important;
  }
  
  .page-item a {
    padding: .188rem 0rem !important;
    width: 1.875rem !important;
    height: 1.875rem !important;
    text-align: center !important;
    align-items: center !important;
    border-radius: 50% !important;
    display: flex !important;
    border: 0 !important;
    justify-content: center !important;
    z-index: 0 !important;
    font-size: small !important;
  }
  
  .page-item.active a {
    background-color: #ced4da; /* Customize as needed */
    color: #343a40 !important;
    font-weight:700 !important;
  }
  
  .page-item.disabled a {
    color: #6c757d !important;
    cursor: not-allowed !important;
  }
  
  .page-item a:hover {
    background-color: #ced4da; /* Customize as needed */
  }
  
  .page-item.roundeds a {
    border-radius: 50% !important;
  }
  .pagination-sm a{
    font-size: 12px !important;
  }
  .pagination-md a{
    font-size: 14px !important;
  }
  .pagination-lg a{
    font-size: 16px !important;
  }
  .pagination-sm span{
    font-size: 12px !important;
  }
  .pagination-md span{
    font-size: 14px !important;
  }
  .pagination-lg span{
    font-size: 16px !important;
  }

  input.border-primary.btn-outline.form-control.gotopageinput {
    width: 4.4rem !important;
    height: 2.4rem !important;
}
.rds-pagination-container .dropdown-menu.show {
  position: absolute; 
  margin: 0px;
  inset: unset !important;
  transform: translate3d(0px, 0px, 0px) !important;
}
.theme-dark .custom-navigation .customWidthForBtn {
  border-color: #7442b7  !important;
}