.customWidthClass {
    --bs-dropdown-min-width: 4.4rem !important;
}
/*
.custom-navigation .customWidthForBtn {
    min-width: 4.4rem !important;
    border-color: #7e2eef !important;
}

.customWidthClass li:hover {
    background-color: #7e2eef !important;
    color: #ffffff;
}


.customWidthClass .pagination-item {
    padding: 2px 0 2px 10px !important
}

.customWidthClass {
    border-color: #7e2eef !important;
}
*/

/* Add consistent styling for all pagination items */
.page-item {
    display: inline-block;
    margin: 0 0.5rem;
  }
  
  .page-item a {
    padding: .188rem 0rem;
    width: 1.875rem;
    height: 1.875rem;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    border: 0;
    justify-content: center;
    z-index: 0;
    font-size: small;
  }
  
  .page-item.active a {
    background-color: #ced4da; /* Customize as needed */
    color: #343a40;
    font-weight: 700;
   /* // border-color: #007bff; */
  }
  
  .page-item.disabled a {
    color: #6c757d;
    cursor: not-allowed;
  }
  
  .page-item a:hover {
    background-color: #e9ecef; /* Customize as needed */
  }
  
  .page-item.roundeds a {
    border-radius: 50%;
  }
  .pagination-sm a{
    font-size: 12px !important;
  }
  .pagination-md a{
    font-size: 14px !important;
  }
  .pagination-lg a{
    font-size: 16px !important;
  }
  .pagination-sm span{
    font-size: 12px !important;
  }
  .pagination-md span{
    font-size: 14px !important;
  }
  .pagination-lg span{
    font-size: 16px !important;
  }