button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}
.on {
    color: #ffdf2b;
    border: #ffdf2b;
}
.off {
    color: #c9c9c9;
    border-color: #ffdf2b;
}