svg.text-dark{
    height: 32px;
    width: 32px;
}

.attachement-dropdown #fab-list .dropdown-menu.show {
    inset: 10px auto auto 15px !important;
}

.import-size{
    font-size: 12px;
}

.dropdown-menu {
    width: auto !important;
}
