@use '../../raaghu-react-themes/tokens/breakpoints' as bp;

.rds-comp-ai-message-box {
  width: 100%;
  display: block;
  &__container {
    padding: var(--rds-spacing-md, 16px);
    display: flex;
    flex-direction: column;
  }
  &__row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  &__message {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  &__image-wrapper {
    margin-left: var(--rds-spacing-2xl, 48px);
    max-width: calc(100% - var(--rds-spacing-2xl, 48px));
    overflow: hidden;
    .rds-comp-ai-message-box__image {
      max-width: 100%;
      height: auto;
      display: block;
      object-fit: contain;
    }
  }
  @include bp.down(md) {
    &__row {
      flex-direction: row;
      align-items: flex-start;
    }
    &__image-wrapper {
      margin-left: var(--rds-spacing-sm);
      max-width: calc(100% - var(--rds-spacing-sm));
      align-items: flex-start;
      .rds-comp-ai-message-box__image {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
    &--spaced {
      margin-top: var(--rds-spacing-hairline, 1px);
    }
  }
  @include bp.down(568) {
    &__container {
      padding: var(--rds-spacing-xs, 8px);
    }
    &__row {
      flex-direction: row;
      align-items: flex-start;
    }
    &__image-wrapper {
      margin-left: var(--rds-spacing-sm);
      max-width: calc(100% - var(--rds-spacing-sm));
      align-items: flex-start;
      .rds-comp-ai-message-box__image {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
    &--spaced {
      margin-top: var(--rds-spacing-hairline, 1px);
    }
  }

  @include bp.down(xs) {
    &__container {
      padding: var(--rds-spacing-xs, 4px);
    }
    &__image-wrapper {
      margin-left: var(--rds-spacing-sm);
      max-width: calc(100% - var(--rds-spacing-sm));
      .rds-comp-ai-message-box__image {
        max-width: 100%;
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
  
  @include bp.down(xs) {
    .rds-avatar__avatar-wrap {
      margin-bottom: var(--rds-spacing-3xl, 64px);
    }
  }

  @include bp.between(xs, md) {
    .rds-avatar__avatar-wrap {
      margin-bottom: var(--rds-spacing-xl, 32px);
    }
  }
}


