.default-border {
    border: 1px solid #dee2e6;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin: 0 5px 0 5px;
    border-radius: 50%;
}
.selected-border {
    border: 2px solid #7e2eef;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin: 0 5px 0 5px;
    border-radius: 50%;
}
.default-border-square {
    border: 1px solid #dee2e6;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin: 0 5px 0 5px;
}
.selected-border-square {
    border: 2px solid #7e2eef;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin: 0 5px 0 5px;
}
