/* .form-check-input-intermediate[type="checkbox"] {
  width: 1em !important;
  height: 1em !important;
  margin-top: 4px !important;
  margin-right: 8px !important;
  margin-left: -24px !important;
  vertical-align: top !important;
  background-color: #0d6efd !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  border: 1px solid #0d6efd !important;
  appearance: none !important;
  border-radius: 2px !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http:ww.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e") !important;
}
.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http:ww.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.form-check-input-error:checked {
  background-color: #dc3545;
  border-color: #dc3545;
}

.line1 {
  list-style: none;
} */
