.rds-timeline {
  display: block;
  position: relative;

  // Focus and disabled states are handled by Material-UI
}



.MuiTimeline-root {
  .MuiTimelineContent-root {
    div {
      color: var(--rds-text-secondary);
    }
  }
}
