.mobile-btn{
  display: none;
}
.desktop-btn{
  display: flex;
}
.custom-z-index{
  z-index: 1;
}

@media (max-width: 767px){
  .mobile-btn{
      display: block;
  }
  .desktop-btn{
      display: none;
  }
  .card.h-100 {
      height: calc(100vh - 90px) !important;
  }
}