.fullWidth {
  width: 100%;
}

.alert-sm {
padding:0.25rem 0.5rem;
}

.alert-md {
padding:0.375rem 0.75rem;
} 

.alert-lg {
padding: 0.5rem 1rem;
}

.alert-dismissible {
  padding-right: 1rem;
}

.alert-dismissible .btn-close{
  position: relative;
  right: 0;
  z-index: 2;
  padding: 0rem;
}

.z-index{
z-index: 1;
}

.alert-advance-primary {
  --bs-alert-color: var(--bs-primary-text-emphasis);
  --bs-alert-bg: var(--bs-primary-bg-subtle);
  --bs-alert-link-color: var(--bs-primary-text-emphasis);
}

.alert-advance-secondary {
  --bs-alert-color: var(--bs-secondary-text-emphasis);
  --bs-alert-bg: var(--bs-secondary-bg-subtle);
  --bs-alert-link-color: var(--bs-secondary-text-emphasis);
}

.alert-advance-danger {
  --bs-alert-color: var(--bs-danger-text-emphasis);
  --bs-alert-bg: var(--bs-danger-bg-subtle);
  --bs-alert-link-color: var(--bs-danger-text-emphasis);
}

.alert-advance-success {
  --bs-alert-color: var(--bs-success-text-emphasis);
  --bs-alert-bg: var(--bs-success-bg-subtle);
  --bs-alert-link-color: var(--bs-success-text-emphasis);
}

.alert-advance-warning {
  --bs-alert-color: var(--bs-warning-text-emphasis);
  --bs-alert-bg: var(--bs-warning-bg-subtle);
  --bs-alert-link-color: var(--bs-warning-text-emphasis);
}

.alert-advance-light {
  --bs-alert-color: var(--bs-light-text-emphasis);
  --bs-alert-bg: var(--bs-light-bg-subtle);
  --bs-alert-link-color: var(--bs-light-text-emphasis);
}

.alert-advance-info {
  --bs-alert-color: var(--bs-info-text-emphasis);
  --bs-alert-bg: var(--bs-info-bg-subtle);
  --bs-alert-link-color: var(--bs-info-text-emphasis);
}

.alert-advance-dark {
  --bs-alert-color: var(--bs-dark-text-emphasis);
  --bs-alert-bg: var(--bs-dark-bg-subtle);
  --bs-alert-link-color: var(--bs-dark-text-emphasis);
}

.alert-left-border {
  border-left: 5px solid var(--bs-alert-border-color); 
}