.imageheight {
  max-height: 500px;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50% !important;
  height: 30px !important;
}

.carousel-indicators-Circle [data-bs-target] {
  width: 9px !important;
  height: 9px !important;
  border: 0px !important;
  border-radius: 8px !important;
}

.carousel-indicators-line [data-bs-target] {
  width: 30px;
  height: 5px !important;
  border: 0px !important;
  border-radius: 4px !important;
}

.carousel-indicators .active {
  border: 0px !important;
}

.carousel-indicators {
  height: 0.375rem !important;
  width: unset !important;
}

.carousel-indicators-bottom {
  bottom: -31px !important;
  padding-bottom: 10px;
}

.carousel-indicators-onImage {
  bottom: 0px !important;
}

.theme-light .carousel-indicators-line [data-bs-target] {
  height: 5px !important;
}

.carousel-default {
  border-radius: 8px;
}

.carousel-with-title {
  border-radius: 8px;
}

.carousel-full-width {
  border-radius: 0px;
}

.carousel-item-title {
  text-align: left;
  margin-bottom: 10px;
}

.carousel-item-caption {
  text-align: left;
  margin-top: 10px;
}

.card-image-top {
  border-radius: 6px;
}