.popoverCard {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 4px #00000026;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  opacity: 1;
  text-align: center;
  min-width: 350px;
  height: 65px;
  align-items: center;
}

.popover-content {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /*Center vertically if needed*/
  height: 29px;
  padding-top: 16px;
}

.buttonClass {
  position: relative;
}

.popoverContainer {
  position: relative;
}

.popoverCard.no-arrow {
  position: absolute;
  top: -74px;
  left: 50%;
  transform: translateX(-50%);
}

.popoverCard.top-left {
  position: absolute;
  top: -74px;
  left: -13px;
}

.popoverCard.top-centre {
  position: absolute;
  top: -74px;
  left: 50%;
  transform: translateX(-50%);
}

.popoverCard.top-right {
  position: absolute;
  top: -74px;
  right: -13px;
}

.popoverCard.bottom-left {
  position: absolute;
  top: 100%;
  left: -13px;
  margin-top: 10px;
}

.popoverCard.bottom-centre {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.popoverCard.bottom-right {
  position: absolute;
  top: 100%;
  right: -13px;
  margin-top: 10px;
}

.popoverCard.left-top {
  position: absolute;
  left: -360px;
  top: -20%;
}

.popoverCard.left-centre {
  position: absolute;
  left: -360px;
  top: 50%;
  transform: translateY(-50%);
}

.popoverCard.left-bottom {
  position: absolute;
  left: -360px;
  bottom: -20%;
}

.popoverCard.right-top {
  position: absolute;
  margin-left: 11px;
  top: -20%;
}

.popoverCard.right-centre {
  position: absolute;
  left: 100%;
  top: 50%;
  margin-left: 9px;
  transform: translateY(-50%);
}

.popoverCard.right-bottom {
  position: absolute;
  left: 100%;
  margin-left: 9px;
  bottom: -20%;
}

.popoverCardTop::after {
  display: block;
  content: "";
  position: absolute;
  border: 1px solid #b1b1b1;
  border-top: 0;
  border-left: 0;
  width: 10px;
  height: 10px;
  left: 50%;
  bottom: -6px;
  transform: rotate(45deg);
  background: white;
}

.popoverCardRight::after {
  display: block;
  content: "";
  position: absolute;
  border: 1px solid #b1b1b1;
  border-right: 0;
  border-top: 0;
  width: 10px;
  height: 10px;
  left: -5%;
  bottom: 45%;
  transform: rotate(45deg);
  background: white;
}

.popoverCardLeft::after {
  display: block;
  content: "";
  position: absolute;
  border: 1px solid #b1b1b1;
  border-bottom: 0;
  border-left: 0;
  width: 10px;
  height: 10px;
  left: 97%;
  bottom: 44%;
  transform: rotate(45deg);
  background: white;
}

.popoverCardBottom::after {
  display: block;
  content: "";
  position: absolute;
  border: 1px solid #b1b1b1;
  border-bottom: 0;
  border-right: 0;
  width: 10px;
  height: 10px;
  left: 48%;
  bottom: 59px;
  transform: rotate(45deg);
  background: white;
}

/* New styles for arrows */
.popoverCard.top-left::after,
.popoverCard.top-centre::after,
.popoverCard.top-right::after {
  display: block;
  content: "";
  position: absolute;
  border: 1px solid #b1b1b1;
  border-top: 0;
  border-left: 0;
  width: 10px;
  height: 10px;
  bottom: -6px;
  transform: rotate(45deg);
  background: white;
}

.popoverCard.top-left::after {
  left: 10%;
}

.popoverCard.top-centre::after {
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.popoverCard.top-right::after {
  right: 10%;
}

.popoverCard.bottom-left::after,
.popoverCard.bottom-centre::after,
.popoverCard.bottom-right::after {
  display: block;
  content: "";
  position: absolute;
  border: 1px solid #b1b1b1;
  border-bottom: 0;
  border-right: 0;
  width: 10px;
  height: 10px;
  top: -6px;
  transform: rotate(45deg);
  background: white;
}

.popoverCard.bottom-left::after {
  left: 10%;
}

.popoverCard.bottom-centre::after {
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.popoverCard.bottom-right::after {
  right: 10%;
}

.popoverCard.left-top::after,
.popoverCard.left-centre::after,
.popoverCard.left-bottom::after {
  display: block;
  content: "";
  position: absolute;
  border: 1px solid #b1b1b1;
  border-left: 0;
  border-bottom: 0;
  width: 10px;
  height: 10px;
  right: -6px;
  transform: rotate(45deg);
  background: white;
}

.popoverCard.left-top::after {
  top: 20%;
}

.popoverCard.left-centre::after {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.popoverCard.left-bottom::after {
  bottom: 20%;
}

.popoverCard.right-top::after,
.popoverCard.right-centre::after,
.popoverCard.right-bottom::after {
  display: block;
  content: "";
  position: absolute;
  border: 1px solid #b1b1b1;
  border-right: 0;
  border-top: 0;
  width: 10px;
  height: 10px;
  left: -6px;
  transform: rotate(45deg);
  background: white;
}

.popoverCard.right-top::after {
  top: 20%;
}

.popoverCard.right-centre::after {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.popoverCard.right-bottom::after {
  bottom: 20%;
}

hr {
  margin: 0.5rem 0 !important;
}
.theme-dark .pcard div p {
  color: #0b0b0b !important;
}