.rds-comp-chart-pie {
	display: block;
	width: 100%;
	.chart-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	canvas {
		width: 100% !important;
		height: 335px !important;
		max-width: 100%;
		@media (max-width: var(--rds-breakpoint-600)) {
			height: 335px !important;
		}
		@media (max-width: var(--rds-breakpoint-400)) {
			height: 335px !important;
		}
	}
}
