.rds-comp-chart-doughnut {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: var(--rds-breakpoint-md)) and (max-width: var(--rds-breakpoint-lg)) {
        canvas {
            height: 466.2px !important;
            width: 1180.8px !important;
        }
    }
}
