.calenderHeight{
    height: 500px
}

.rbc-toolbar {
    font-size: 13px;
}

.rbc-toolbar .rbc-toolbar-label {
    padding: 5px 10px !important;
}

.miniCalendar {
    height: 300px;
}

.miniCalendar .rbc-toolbar {
    font-size: 11px;
}

.miniCalendar .rbc-event {
    padding: 1px 3px !important;
}

.miniCalendar .rbc-date-cell {
    font-size: 0.8em;
}

.agenda-view .rbc-agenda-view {
    margin-top: 15px;
}

.rbc-toolbar button {
    color: #7d7d7d;
}

.rbc-button-link {
    color: #7d7d7d;
}

@media (max-width: 767px) {
    .rbc-toolbar {
        font-size: 12px !important;
    }
}
