$rds-stepper-breakpoint-sm: 420px;

.rds-stepper {
  --rds-stepper-mobile-offset-left: -10px;
  --rds-stepper-mobile-step-padding-right: 0px;
  position: relative;
}

@media (max-width: $rds-stepper-breakpoint-sm) {
  .rds-stepper {
    margin-left: var(--rds-stepper-mobile-offset-left, -10px);
  }
  .MuiStep-root {
    padding-right: var(--rds-stepper-mobile-step-padding-right, 0px) !important;
  }
}

[data-theme="dark"] {
  .rds-stepper {
    .MuiStepLabel-iconContainer .MuiStepIcon-root .MuiStepIcon-text {
      color: var(--rds-neutral-0, #fff) !important;
      fill: #fff !important;
    }
    
    .MuiStepLabel-iconContainer .MuiStepIcon-root svg path {
      fill: #fff !important;
      stroke: #fff !important;
    }
  }
}
