.heading {
    text-align: left;
    font: normal normal 600 20px/30px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.label {
    font: normal normal medium 14px/30px Poppins;
    letter-spacing: 0px;
    color: #626262;
    opacity: 1;
}

.description {
    font: normal normal normal 16px/22px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner 0.8s linear infinite;
    display: inline-grid;
}