.iconposition-heart {
    top: 9px !important;
    right: 9px !important;
}

.product-img {
    width: 370px !important;
    height: 436px !important;
}

.product-container {
    width: 370px !important;
}