/* .headerStyle{
    display: flex;
    justify-content: space-between;
    border-bottom: none !important;
    padding:10px
}
.head{
    font-weight: 500;
    font-size: larger;
}
.card-body{
    padding : 2px !important ;
}
.card-footer{
    min-width: 50px;
} */
  .theme-dark .btn{  
    color: #1c1d20 !important;   
}