@use '../../raaghu-react-themes/tokens/breakpoints' as bp;

.rds-comp-chart-area {
    display: flex;
    justify-content: center;
    align-items: center;

    // Tablet view - full screen
    @include bp.between(md, lg) {
       
        canvas {
            height: 76vh !important;
        }
    }
}
