.border-color {
    border: 2px solid #7e2eef;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
}

.border {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #aaaaaa;
    border-radius: 8px;
    opacity: 1;
}
#rds-size {
    display: flex;
    flex-wrap: wrap;
}
.size {
    font: normal normal 600 22px/35px Poppins;
    letter-spacing: 0px;
    color: #000000;
}

.size-small {
    font: normal normal 600 18px/48px;
    letter-spacing: 0px;
    color: #000000;
}

.Out {
    padding-top: 8px;
    color: #747474;
}
.description {
    font: normal normal normal 18px/35px;
    letter-spacing: 0px;
    color: #6f6f6f;
}
.ulStyle {
    all: unset;
    list-style-type: none;
}
.flex-even {
    flex: 1 1 50px;
    min-height: 49px;
    max-width: 55px;
}
.flex-evens {
    flex: 1 1 360px;
    max-width: 300px;
}
.outOfStock {
    border-radius: 8px;
    width: 100%;
    padding-top: 4px;
    background: #8080802e;
    color: #adadade0;
    border: 2px solid #adadade0;
}

.theme-dark .description {
    color: #6f6f6f;
}