.horizontal {
  height: 0rem;
  width: 1.50rem;
  border-bottom: 1px dashed #adb5bd;
  position: relative;
  right: 24px;
  margin: none;
  top: 6px;
  z-index: 0;
}

.vertical {
  position: absolute;
  left: 8px;
  bottom: 0;
  top: 1.2rem;
  width: 0.1875rem;
  height: 102%;
  border-right: 1px dashed #adb5bd;
  z-index: 0;
}

.unitName {
  margin-left: 31px !important;
}

.member-count {
  margin-left: -10px;
}

.node_dot {
  border-radius: 50%;
  height: 14px;
  width: 14px;
  margin-right: 0.5625px;
  margin-left: 0px;
  margin-top: 0.3125rem;
  z-index: 2 !important;
}

.node-icons {
  position: absolute;
  left: -27px;
  top: 10px;
}

.list-style {
  list-style-position: initial !important;
  list-style-image: initial !important;
  list-style-type: none !important;
}
.spacingbetweenbtn
{
  margin-left: 5px;
}

 .node-items .node_dot {
  background-color: #2539FF !important;
}

.node-items:hover .node_dot, .node_dot {
  background-color: #7e2eef !important;
}

.vertical, .theme-light .verticalNode {
  border-right-color: #2539FF !important;
}

.horizontal {
  border-bottom-color: #2539FF !important;
}

.leftSpace {
  margin-left: 0rem !important;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}