.horizontal {
  height: 0rem;
  width: 1.75rem;
  border-bottom: 1px dashed #adb5bd;
  position: relative;
  right: 29px;
  margin: none;
  top: 4px;
  z-index: 0;
}

.vertical {
  position: absolute;
  left: 50px;
  bottom: 0;
  top: 1.2rem;
  width: 0.1875rem;
  height: 102%;
  border-right: 1px dashed #adb5bd;
  z-index: 0;
}

.unitName {
  margin-left: 78px;
}

.member-count {
  margin-left: -10px;
}

.node_dot {
  border-radius: 50%;
  height: 14px;
  width: 14px;
  margin-right: 0.5625px;
  margin-left: -1px;
  margin-top: 0.3125rem;
  /*z-index: 2;*/
}

.node-icons {
  position: absolute;
  left: 27px;
  top: 10px;
}

.list-style {
  list-style-position: initial !important;
  list-style-image: initial !important;
  list-style-type: none !important;
}
.left-content {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 100vh;
  margin-left: 10%;
}