.offcanvas-header {
  background-color: primary;
}
@media (max-width: 767px) {
  #profileOffCanvas {
    width: 375px !important;
  }
}
.offcanvas_btn {
  cursor: pointer;
  width: fit-content;
}

.offcanvas .offcanvas-header .close {
  cursor: pointer;
  padding: 3px 8px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.offcanvas .offcanvas-header .close:hover {
  background: aliceblue;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

 .theme-dark .offcanvas-text .btn.btn-transparent-primary,
 .theme-dark .offcanvas-text .btn.btn-outline-primary {
  background: #1c1d20 !important;
  color: #ffffff !important;
  border: 1px solid #7825e9;
}

.theme-dark .offcanvas-text .btn {
  color: #ffffff !important;
}