.rds-form-control {
  display: block;
  position: relative;
  
  &.MuiFormControl-fullWidth {
    width: 100%;
    margin-right: var(--rds-form-control-fullwidth-margin-right);
  }
  .MuiInputBase-input::placeholder,
  input::placeholder,
  textarea::placeholder,
  .MuiAutocomplete-inputRoot input::placeholder {
    color: var(--rds-placeholder-color) !important;
    opacity: 1 !important;
  }
}

.rds-form-control__asterisk {
  color: var(--rds-form-control-asterisk-color);
  margin-left: var(--rds-spacing-xs);
  font-weight: var(--rds-form-control-asterisk-font-weight);
}

.rds-form-control .MuiFormLabel-asterisk {
  color: var(--rds-form-control-asterisk-color) !important;
}

.rds-form-control .MuiFormLabel-root.Mui-focused .MuiFormLabel-asterisk,
.rds-form-control .MuiFormLabel-root.Mui-error .MuiFormLabel-asterisk {
  color: var(--rds-form-control-asterisk-color) !important;
}

.rds-form-control .MuiFormHelperText-root,
.rds-form-control .css-1t6h741-MuiFormHelperText-root {
  margin-left: 0 !important;
}
