.rds-comp-chart-line {
    display: flex;
    justify-content: center;
    align-items: center;

    // Tablet view - full screen
    @media (min-width: var(--rds-breakpoint-md)) and (max-width: var(--rds-breakpoint-lg)) {
      
        canvas {
            height: 460.1px !important;
            width: 802.4px !important;
        }
    }
}
