.form-check-input-style3 {
       width: 2em !important;
    margin-left: -2.5em !important;
    background-image: var(--bs-form-switch-bg) !important;
    background-position: left center !important;
    transition: background-position 0.15s ease-in-out !important;
  }