.RdsInputGroup__form input {
  flex: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.RdsInputGroup__form button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.fs-small-size {
  font-size: 14px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 12px !important;
}