
.theme-dark .rds-benefit .custom-text {
    color: #ffffff !important;
  }
  
  .theme-dark .rds-benefit .text-muted {
    color: #adb5bd !important;
  }
  
  .theme-dark .rds-benefit .bg-light {
    background-color: #2c3034 !important;
    border-color: #495057 !important;
  }