.typing-section {
    background: #ffffff;
    border-radius: 5px;
    padding-bottom: 42px!important;
}
.input-with-image {
    /* border: 1px solid #862FFF !important; */
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px; /* Add gap between images */
    justify-content: flex-end; /* Align images to the right */
    /* border: 1px solid #000; */
    border-radius: var(--bs-border-radius);
   
}
 
.attachement-web {
    margin-top: -5px;
}
 
@media (max-width: 768px) {
    .input-with-image {
        padding-right: 52px;
    }
}
 
.theme-dark .input-with-image {
    background-color: black;
}
 
.theme-dark .input-with-image .form-controls {
    background-color: black;
    color: white;
    color: var(--text-txt-neutral-light-default, #969696);
font-family: var(--font-family-poppins, Poppins);
font-size: 16px !important;
font-style: normal;
font-weight: var(--font-weight-medium, 500);
line-height: 16px; /* 100% */
}
 
#left-bottom-corner {
    position: absolute;
    bottom: 10px;
    left: -10px;
}
 
.preview-image-container {
    margin-top: 10px;
    text-align: center;
}
 
.preview-image {
    max-width: 100%;
    max-height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.chat-input {
    flex: 1 !important;
    padding: 8px !important;
    border-radius: 4px !important;
  }
 
.type-section-border{
    border :none !important;
}
 
.input-wrapper {
    border-radius: var(--corner-radius-radius-s, 5px);
    border: 1px solid var(--border-border-neutral-subtle-default, #C6A2F6);
    background: var(--background-bg-neutral-lighter-default, #FFF);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.18);
    padding: 12px;
}
 
.input-box-typing-section {
    flex: 1;
    padding: 15px;
    font-size: 14px !important;
    background-color: #ffffff;
    color: var(--text-txt-neutral-light-default, #353535);
    height: 100px;
    padding-right: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 1.5;
    resize: none;
    border-radius: 3px;
    font-family: var(--font-family-poppins, Poppins);
    font-style: normal;
    font-weight: var(--font-weight-medium, 500);
    border: none;
    outline: none;
    padding: 3px;
}
.input-box-typing-section:focus {
    border: none;
    outline: none;
}
 
.type-section-border {
    border: none !important;
}
 
#typing-section .btn-icon.btn-md {
    width: 30px !important;
    height: 32px !important;
    border-radius: 8px;
}
 
#typing-btn .btn.btn-primary {
    left: 15px;
    bottom: 15px;
    position: absolute !important;
}
#typing-btn-outline .btn.btn-outline-primary {
    left: 120px;
    bottom: 15px;
    position: absolute !important;
    --bs-btn-hover-bg: #d4b9f9;
    --bs-btn-hover-color: #7e2eef;
}
 
#typing-section .btn {
    min-width: 2.35rem;
}
 
#typing-section .attachement-dropdown #fab-list .dropdown-menu.show {
    top: auto !important;
    bottom: 18px !important;
    left: auto !important;
    right: 28px !important;
    transform: translate3d(30px, 97.5px, 0px) !important;
}
.btn-md svg {
    width: 12px !important;
    height: 17px !important;
    stroke-width: 1.5;
}
.btn-transition:hover {
    transform: scale(1.1);
}
.theme-light svg {
    stroke: none !important;
}
 
.end-0 {
    right: 1px !important;
}
.gradient-text {
    background: linear-gradient(90deg, #7825E9 0%, #FDB336 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    display: inline-block;
    background-clip: text;
}
 
#story {
    margin-top: -12px !important;
   
}
#select-list-container{
    border-radius: var(--corner-radius-radius-xs, 4px);
border: 1px solid var(--input-input-neutral-outline-default, #7D7D7D);
background: var(--background-bg-neutral-lighter-default, #FFF);
}
#chat .dropdown .btn-transparent {
    background-color: transparent !important;
    color: #969696!important;
    border: none !important;
    color: var(--text-txt-neutral-light-default, #969696);
/* txt-s-regular-14 */
font-family: var(--font-family-poppins, Poppins);
font-size: var(--font-size-sm, 14px);
font-style: normal;
font-weight: var(--font-weight-regular, 400);
line-height: 20px; /* 142.857% */
}
#chat .dropdown .text-primary {
    --bs-text-opacity: 1;
    color: rgb(136 134 139) !important;
   
}
#chat .dropdown .dropdown-menu {
    position: absolute;
   --bs-dropdown-min-width: 9.5rem;
    border: 1px solid #7a777e;
    z-index: 1000;
}
#Premium .attach {
    stroke: none !important;
}
#typing-btn {
    stroke: none !important;
}
.theme-dark .input-with-image .form-controls {
    background-color: white;
    color: white;
 
}
.theme-dark .input-with-image {
    background-color: white;
}
 .chat-section {
    border-radius: var(--bs-border-radius, 2.3px);
    border: 1px solid var(--input-input-neutral-outline-default, #7D7D7D);
    background: var(--background-bg-neutral-lighter-default, #FFF);
}
.send-icon{
    align-items: center;
    width: 16px;
height: 16px;
aspect-ratio: 1/1;
}
.attachement-dropdown #fab-list .dropdown-menu.show {
    top: auto !important;
    bottom: 10px !important;
    left: -250px !important;
    left: -210px !important;
    right: auto !important;
    transform: translate3d(30px, 97.5px, 0px) !important;
}
.action-button-item.theme-dark .btn {
    color: #7825E9 !important;
}
.theme-dark .input-with-image .form-controls {
    color: white;
    color: var(--text-txt-neutral-light-default, #969696);
    font-family: var(--font-family-poppins, Poppins);
    font-size: 13px !important;
    font-style: normal;
    font-weight: var(--font-weight-medium, 500);
    line-height: 16px;
}
.theme-dark .btn-md svg {
    width: 12px !important;
    height: 17px !important;
    stroke-width: 1.5px;
}
.theme-light .btn-md svg {
    width: 14px !important;
    height: 17px !important;
    stroke-width: 1.5px ;
}
.theme-dark .btn.btn-outline-primary {
    color: #7825e9 !important;
}
.theme-dark .btn {
    color: #fcfbfb !important;
}
#Premium .text-dark  {
    height: 17px;
    width: 17px;
    fill: none !important;
    stroke-width: 0px!important;
}
.sparkle {
    height: 20px !important;
    width: 20px !important;
    fill: none !important;
    stroke: none !important;
}
.size .btn-md svg {
    width: 19px !important;
    height: 19px !important;
    stroke-width: 1.5px;
}
.input-box-typing-section::placeholder {
    font-weight: 500 !important;
    color: var(--text-txt-neutral-light-default, #353535);
    font-family: var(--font-family-poppins, Poppins);
    font-size: 16px;
    font-style: normal;
    line-height: 16px;
}


.theme-dark .input-with-image .form-controls::placeholder {
    font-weight: 500 !important;
    color: var(--text-txt-neutral-light-default, #969696);
    font-family: var(--font-family-poppins, Poppins);
    font-size: 12px !important;
    font-style: normal;
    line-height: 14px;
}
#chat .chat-section{
    font-size: var(--font-size-sm, 14px)!important;
}
#send-icon .btn{
    min-width:none !important;
}
.size .btn {
    text-transform: capitalize !important;
    min-width: 1.35rem;
    align-items: center !important;
}
.theme-dark .input-wrapper{
background-color: #353535;
}
.theme-dark .input-with-image .form-controls{
background-color: #353535! important;
}
.theme-dark .typing-section {
background-color: #353535 !important;
}
.theme-dark #chat .dropdown {
background-color: #353535 !important;
}
.theme-dark .btn.btn-outline-primary{
background-color: #353535 !important;  
}
.theme-dark .dropdown-menu {
background-color: #353535 !important; 
}
.theme-dark .chat-section {
background: #353535;
}
.theme-dark .input-with-image {
background-color: #353535 !important;
}
/* Instead of targeting .position-relative utility class directly */
.typing-section .position-relative svg,
.input-wrapper .position-relative svg {
    stroke: none !important;
}

.prompt-warning {
    display: flex;
    padding: var(--spacing-sm, 8px) var(--spacing-md, 12px) var(--spacing-lg, 16px) var(--spacing-md, 12px);
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-radius: var(--corner-radius-radius-xs, 4px);
    background: var(--background-bg-primary-light-default, #EBDCFF);
}

.prompt-warning .text {
    color: var(--text-txt-primary-medium-default, #7825E9);
    text-align: center;
    font-family: var(--font-family-poppins, Poppins);
    font-size: var(--font-size-xs, 12px);
    font-style: normal;
    font-weight: var(--font-weight-medium, 500);
    line-height: normal;
}

.prompt-warning .svg {
    display: flex;
    padding: var(--spacing-sm, 8px) var(--spacing-md, 12px) var(--spacing-lg, 16px) var(--spacing-md, 12px);
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-radius: var(--corner-radius-radius-xs, 4px);
    background: var(--background-bg-primary-light-default, #EBDCFF);
}

.small-prompt {
    display: flex;
    height: 160px;
    padding: var(--corner-radius-radius-m, 12px) var(--spacing-md, 12px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-sm, 8px);
    align-self: stretch;
    border-radius: var(--corner-radius-radius-xs, 4px);
    border: 1px solid var(--button-btn-neutral-outline-disabled, #CDCDCD);
    background: var(--background-bg-neutral-lighter-default, #FFF);
}

.setting-container {
    display: flex;
    width: 36px;
    height: 36px;
    padding: var(--spacing-sm, 8px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm, 8px);
    border-radius: var(--corner-radius-radius-xs, 4px);
}

.setting-svg {
    display: flex;
    padding: 1.667px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.wrapper-margin {
    margin-top: -10px;
}

#advanced-prompt .dropdown-menu {
    --bs-dropdown-min-width: 12.5rem;
}

#advanced-prompt .dropdown-item:hover, 
#advanced-prompt .dropdown-item:focus,
#advanced-prompt .dropdown-menu li:hover {
    background-color: #EBDCFF;
}

#advanced-prompt .dropdown-menu.show {
    transform: translate3d(0px, 36.8px, 0px);
}

.advanced-control-container {
    display: flex;
    width: 100%;
    padding: var(--corner-radius-radius-m, 12px) var(--spacing-md, 12px);
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: var(--corner-radius-radius-xs, 4px);
    background: var(--background-bg-neutral-lighter-default, #FFF);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
    margin-top: 16px;
}

.advanced-control-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.advanced-control-header-text {
    color: #000;
    font-family: var(--font-family-poppins, Poppins);
    font-size: var(--font-size-md, 16px);
    font-style: normal;
    font-weight: var(--font-weight-medium, 500);
    line-height: normal;
}

.advanced-control-body .dropdown-menu.show {
    transform: translate3d(0px, 40px, 0px);
}

.theme-dark .advanced-control-container {
    color: #A8A8A8 !important;
}

.advanced-control-body .dropdown-item:hover, .advanced-control-body .dropdown-item:focus {
    background-color: #EBDCFF;
}

.typing-section .btn.btn-outline-primary:hover {
    background-color: #ebdcff;
    color: #7825e9;
}

.typing-section .btn.btn-primary:hover {
    background-color: #4F00A6 !important;
}