@use '../../raaghu-react-themes/tokens/breakpoints' as bp;

.rds-comp-chart-gauge {
    display: flex;
    justify-content: center;
    align-items: center;

    // Tablet view - full screen
    @include bp.between(md, lg) {
       
        canvas {
            height: 317.9px !important;
            width: 1196px !important;
        }
    }
}
