.rds-skeleton {
  position: relative;
  overflow: hidden;
}

.rds-skeleton.circle {
  border-radius: 50%;
}

.rds-skeleton.static {
  background-color: #e9e9e9;
}

.rds-skeleton.is-animated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    #e9e9e9,
    rgba(255, 255, 255, 0.637),
    #e9e9e9
  );
  animation: loading-left-to-right 6.5s ease-in-out infinite;
  animation-delay: 1ms;
  background-size: 200% 100%;
}

@keyframes loading-left-to-right {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
