@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#storybook-explorer-tree {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

#storybook-explorer-menu .sidebar-item[data-selected="true"] {
  /* background: #7e2eef14 !important;
    color: #ac31e1; */
}
#introduction--page.sidebar-item,
#charts.sidebar-item,
#elements.sidebar-item,
#components.sidebar-item,
#icons.sidebar-item,
#pages.sidebar-item,
#map.sidebar-item,
#application-shell.sidebar-item,
#layouts.sidebar-item,
#application-shells.sidebar-item {
  font-weight: 600;
}
#storybook-explorer-tree .sidebar-item[aria-expanded="true"] {
  font-weight: 600;
}

#introduction--page.sidebar-item {
  padding-left: 0px !important;
}
.sto-1tzk3u {
  border-top: 0px !important;
}

.sto-1onnxik {
  box-shadow: none !important;
}

.sto-1qwztpk {
  position: relative;
  margin-left: 0px !important;
  margin-right: -0px !important;
}

.sidebar-container .sto-79elbk .sidebar-item {
  padding-left: 30sspx !important;
}

.sb-show-main.sb-main-centered #root {
  width: 100% !important;
}

.sto-svjevy {
  padding: 0px !important;
}

.sb-show-main ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/* elements in storybook */
.sb-show-main {
  padding: 5px !important;
}
.css-1rb1jn6 {
  width: 142px !important;
}
.css-194spiq {
  padding: 15px !important;
}
.theme-dark svg {
  color: #f5efef !important;
}

.theme-dark .LeftSideNavListCollapse .border {
  background: transparent !important;
}

.css-zqpgva[data-orientation="vertical"] {
  padding-right: 0px !important;
  padding-left: 8px !important;
}

nav.container.sidebar-container.css-t68aeq {
  padding: 0 !important;
}

.css-14774g3 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.leftChevronPosition {
  position: relative !important;
  top: -107px !important;
  left: 11px !important;
}
.rightChevronPosition {
  top: -107px !important;
  left: -10px !important;
  position: relative !important;
}
.css-1rb1jn6 {
  display: block;
  max-width: 115px !important;
  max-height: 100px;
}
.container {
  padding-right: 0px !important;
}
.container .sidebar-container .css-r1cy5n {
  padding-right: 0px !important;
}

.css-mq3wcb{
  padding-right: 10px !important;
  padding-bottom: 18px !important;
}
.sidebar-header{
  margin-bottom: 0px !important;
}