.pagination {
  padding-top: 8px;
}
.contentbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
}
.icon {
  cursor: pointer;
}

.fixed-button {
    position: absolute; 
    right: 20px;
    transform: translateY(-50%); 
}
