.btn-sm svg {
  width: 10px !important;
  height: 10px !important;
  stroke-width: 2.5;
}

.btn-md svg {
  width: 12px !important;
  height: 12px !important;
  stroke-width: 2.5;
}

.btn-lg svg {
  width: 14px !important;
  height: 14px !important;
  stroke-width: 2.5;
}

.alignClass {
  top: -1px;
}

.theme-dark .btn-light {
  color: #2b2b2b;
}

.theme-dark .btn-light svg {
  color: #2b2b2b;
}
.btn-link {
  /* color: #0969DA; */
  text-decoration: underline;
  font-weight: bold;
  font-size: small;
  padding-left: 0px !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-unset {
  text-transform: unset;
}

/* button background and button text color as per Figma  */

.btn.btn-primary {
  background: #7825e9;
  color: #ffffff;
  border: none;
}

.btn.btn-secondary {
  background: #93b8ff;
  color: #2534e9;
  border: none;
}
.btn.btn-tertiary {
  background: #f8a4ff;
  color: #b30fbc;
  border: none;
}
.btn.btn-error {
  background: #ffb3ad;
  color: #bd0d1d;
  border: none;
}
.btn.btn-neutral {
  background: #cdcdcd;
  color: #646464;
  border: none;
}
.btn.btn-warning {
  background: #fdc674;
  color: #c2510c;
  border: none;
}
.btn.btn-success {
  background: #90e5a0;
  color: #1f7630;
  border: none;
}

.btn.hover {
  background: #7825e9;
  color: #ffffff;
  border: none;
}

.btn.hover:hover {
  background-color: #4f00a6; 
  color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}
.btn.selected {
  background-color:#340071;
  color: #ffffff;
}

.btn.btn-outline-primary {
  background: #ffffff;
  color: #7825e9;
  border: 1px solid #7825e9; 
}
.btn.btn-outline-primary:active {
  background-color: #ebdcff; 
  color: #7825e9; 
  border-color: #7825e9; 
}

.btn.outline-hover {
  background: #ffffff;
  color: #7825e9;
  border-color: #7825e9;
}

.btn.outline-hover:hover {
  background-color: #ebdcff; 
  color: #7825e9;
  border: 1px solid #7825e9;
  transition: background-color 0.3s ease-in-out;
}
.btn.outline-selected {
  background-color:#d4bbff;
  color: #6525bf;
  border-color: #340071;
}
.btn.btn-transparent-primary {
  background: #ffffff;
  color: #7825e9;
}
.btn.btn-outline-primary:active {
  color: #340071; 
  border-color: #340071;
}

.btn.transparent-hover {
  color: #7825e9;
}

.btn.transparent-hover:hover {
  /*background-color: #4f00a6;*/
  color: #340071;
  transition: background-color 0.3s ease-in-out;
}
.btn.transparent-selected {
  /*background-color:#4525ab; */
  color: #2d1750;
}
.btn.disabled {
  opacity: 0.6; 
  cursor: not-allowed; 
  pointer-events: none; 
}
.btn.transparent-disabled {
  opacity: 0.6; 
  border: none;
  cursor: not-allowed; 
  pointer-events: none; 
}


