.rds-tag {
  --rds-tag-dark-text-color: var(--rds-button-primary-text, #ffffff);
  display: block;
  position: relative;
}

[data-theme="dark"]{
    .MuiChip-label {
      color: var(--rds-tag-dark-text-color, var(--rds-button-primary-text, #ffffff));
    }
   
    .MuiChip-outlined {
      .MuiChip-label {
        color: inherit;
      }
    }

    .MuiChip-deleteIcon{
      color: var(--rds-tag-dark-text-color, var(--rds-button-primary-text, #ffffff)) !important;
    }
    .MuiChip-outlined .MuiChip-deleteIcon{
      color: inherit !important;
    }
}
