// RDS Tag Component Styles
.rds-tag {
  display: block;
  position: relative;
}

[data-theme="dark"]{
    .MuiChip-label {
      color: var(--rds-button-primary-text, #ffffff);
    }
   
    .MuiChip-outlined {
      .MuiChip-label {
        color: inherit;
      }
    }

    .MuiChip-deleteIcon{
      color: var(--rds-button-primary-text, #ffffff) !important;
    }
    .MuiChip-outlined .MuiChip-deleteIcon{
      color: inherit !important;
    }
}
