.rds-layout {
  display: flex;
}

.rds-layout.row {
  flex-direction: row;
}

.rds-layout.column {
  flex-direction: column;
}

.rds-layout.full-height {
  height: 100%;
}

.rds-layout.full-width {
  width: 100%;
}

.rds-layout-item {
  display: block;
}

/* Responsive utilities */
@media (max-width: 768px) {
  .rds-layout.row {
    flex-direction: column;
  }
  
  .rds-layout-item {
    flex: none !important;
    width: 100% !important;
  }
}
