.rds-comp-chart-radar {
	&-container {
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
        
		@media (max-width: var(--rds-breakpoint-400)) {
			height: 335px !important;
            width: 100% !important;
		}

		@media (max-width: var(--rds-breakpoint-600)) {
			height: 330px !important;
            width: 100% !important;
		}
	}
}
