# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/build
/dist
/tmp
/out-tsc
/bazel-out
package-lock.json
yarn.lock.json
yarn.lock

# Node
/node_modules
/.pnp
.pnp.js
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# SDK output
/.vs
/.vscode
/.angular

# Visual Studio
.vs/*

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
