.rds-comp-ai-chat-header {
  display: flex;
  align-items: center;
  padding: var(--rds-spacing-xs);
  width: 100%;
  color: var(--rds-color-on-surface, inherit);
  
  &__logo {
    flex-shrink: 0;
    &--small {
      height: 1.5rem;
    }
    &--medium {
      height: 2.5rem;
    }
    &--large {
      height: 3.5rem;
    }
  }

  &__text {
    margin-left: var(--rds-spacing-md);
    margin-top: var(--rds-spacing-md);
    font-size: var(--rds-font-size-xl);
    white-space: nowrap;
    &--small {
      font-size: var(--rds-font-size-md);
    }
    &--medium {
      font-size: var(--rds-font-size-xl);
    }
    &--large {
      font-size: var(--rds-font-size-3xl);
    }
  }
}
