.labelClass {
  text-align: left;
  /* font: normal normal medium 14px/1px Poppins; */
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-left: 8px;
}

.form-select-sm > svg {
  height: 15px !important;
  width: 15px !important;
}
.form-select-md > svg {
  height: 20px !important;
  width: 20px !important;
}
.form-select-lg > svg {
  height: 25px !important;
  width: 25px !important;
}
