/* Base styles for the radio button */
.radio-toggle-switch {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #7825E9; /* Purple border */
  border-color: #979797;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.radio-toggle-switch:checked {
  background-color: white; /* Background remains white */
  border: 2px solid #7825E9; /* Purple border */
}

.radio-toggle-switch:checked::before {
  content: "";
  width: 10px; /* Adjusted size for better centering */
  height: 10px; /* Adjusted size for better centering */
  background-color: #7d4cdb; /* Blue inner dot */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Ensures perfect centering */
}

/* Spacing for label positioning */
.icon-with-bottom-label {
  margin-left: 32px;
  text-align: center;
}

.theme-dark .form-check-input .radio-toggle-switch:checked {
  background-color: #dee2e6 !important;
  border-color: #7825E9;
}