.rds-range {
  display: block;
  position: relative;
  width: 100%;

  @media (max-width: 600px) {
    max-width: 370px;
  }
  @media (max-width: 400px) {
    max-width: 275px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--rds-spacing-sm);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: var(--rds-spacing-xs);
  }

  &--disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

@media (max-width: 568px) and (min-width: 320px) {
  .css-3k03ww, .css-1fm6jzk {
    width: 288px !important;
  }
}
@media (min-width: 414px) and (max-width: 896px) {
  .css-3k03ww, .css-1fm6jzk {
    width: 382px !important;
  }
}