/* .title {
  font-size: 19px;
}

.min-width {
  width: 269%;
}

.breadcrumd-ps {
  left: 150px;
  position: relative;
} */

.dropdown-menu[data-bs-popper] {
  transform: translateY(14px);
}

.dropdown-list {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

#topnav .border-custom-dropdown-menu {
 background: #ffffff 0% 0% no-repeat padding-box;
 border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
 opacity: 1;
 margin-top: -4px !important;
}

.border-start-custom {
  border-left: 2px solid #dee2e6;
  min-height: 16px;
}

.breadcrumb-item.active a {
  color: #7e2eef;
}

.breadcrumb-item a, .theme-light .breadcrumb-items a {
  color: #6C757D;
}

.col {
  flex: none !important;
}
